/Qvalues/Q0.txt
/Qvalues/Q1.txt
/Qvalues/Q2.txt
/__pycache__
/exp_video_30x30_20231124.mp4
/logs
/model/FlappyBird.h5
/neurons.txt
/rank.txt
/record40x40to80x80.txt
/results.txt
/structure.txt
/training_history.txt